
.main {
    margin: 40px 10%;
    padding: 20px;
    grid-area: maincontent;
    display: grid;
    justify-content:space-evenly;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'hero video';	
}

.hero {
    grid-area: hero;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.video {
    grid-area: video;
    text-align: center;
}


